body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    min-height:100vh;
}
a{
    color:#E5E7EB;
    text-decoration:none;
    font-size:18px;
}
ul{
    list-style-type:none;
    padding:0;
    display:flex;
    gap:10px;
    margin:0;
}
.sec-text{
    color:#E5E7EB;
    font-size:18px;
}
.hero-text{
    color:#F9FAF8;
    font-size:48px;
    font-weight:900;
    margin-bottom:5px;
}

h4{
    color:#F9FAF8;
    font-size:24px;
    margin:0;
}
h2{
    font-size:36px;
    color:#1F2937;
    font-weight:900;
    margin:0;
}
img{
    height:300px;
    width:700px;
}
button{
    background-color:#3882F6;
    color:#F9FAF8;
    border:none;
    height:40px;
    width:120px;
    padding:8px;
    text-align:center;
    font-weight:bold;
    font-size:16px;
    border-radius:8px;
}
.sec-1,.sec-2{
    padding-left:120px;
    padding-right:120px;
    padding-bottom: 120px;
}
.sec-1{
    display:flex;
    flex-direction: column;
    background-color:#1F2937;
    margin:0;
    padding-top:10px;
}

.header{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}
.info-sec{
    display:flex;
    justify-content:space-between;
    margin:0;
    margin-top:40px;
}
.sec-2{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-top:50px;
}
h3{
    color:#1F2937;
    font-size:18px;
    margin:0;
}
.card-1{
    border:2px solid #3882F6;
    border-radius:8px;
    height:150px;
    width:150px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card-sec{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:40px;
    width:150px;
}
.sec-text{
    color:gray;
    font-size:18px;
    text-align:center;
}
.card-flex{
    display:flex;
    gap:40px;
}